body {
    background-color: wheat;
    margin: 0;
}

.heading-div {
    background-color: gold;
    color: firebrick;
    padding: 40px;
    display: flex;
    border-bottom: solid;
}

#title-text {
  font-family: fantasy;
}

#sunflower-logo {
    width: 100px;
    border: solid 5px;
    border-radius: 10px;
    margin-right: 30px;
}

#flavor-head {
    margin-top: 40px;
}

.flavors-div {
   display: flex;
   flex-direction: column;
   width: 800px;
   padding: 20px;
   background-color: khaki;
   border: solid ;
   box-shadow: 10px 10px;
   font-size: medium;
}

#texture-head {
    margin-top: 50px;
}

.texture-div {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   width: 800px;
   padding: 20px;
   background-color: khaki;
   border: solid ;
   box-shadow: 10px 10px;
   font-size: medium;
}

#rating-head {
    margin-top: 50px;
}

.ratings-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    background-color: khaki;
    border: solid ;
    box-shadow: 10px 10px;
    font-size: medium;
}

.footer {
    background-color: gold;
    padding: 20px;
    margin-top: 70px;
    border-top: solid firebrick;
}

#footer-text {
    font-size: medium;
}

.footer {
    text-align: center;
    color: black;
}


